body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    
}

a, a:hover{
    color: #616ff2;
}



/* ricorda che per visualizzare le modifiche tramite style e file css è
 necessario pulire la cache del browser e riavviare il server di sviluppo */