{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} - {{ discussione.titolo }}{% endblock head_title %}

{% block content %}
<div class="container">



        {% for post in posts_discussione %}
        <div class="card my-3"></div>
            {% if forloop.first and not "pagina" in request.get_full_path %}
                <div class="card-header pb-0">
                    <h3>{{ discussione.titolo }}</h3>
                    <p class="text-muted">{{ discussione.data_creazione|date:"D d M Y"  }}
                    <br>in {{ discussione.sezione_appartenenza }}</p>        
                </div>
            
            {% else %}
                <div class="card-header py-0">
                    <p class="text-muted mb-0">
                        {{ post.data_creazione|date:"d M Y"}}
                        {% if request.user == post.autore_post %}
                            <a href="{% url 'cancella_post' id=discussione.pk pk=post.pk %}"><i class="far fa-trash-alt"></i></a>
                        {% endif %}
                    </p>
                </div>
            {% endif %}

     <div class="container">

        
        <div class="card-body">
            <div class="row">
                <div class="col-xl-2 col-3">
                    <p class="mb-0"></p><a href="{% url "profilo_utente" username=post.autore_post.username %}"><strong>{{ post.autore_post }}</strong></a>
                    <p class="text-muted mb-0">Utente da: {{ post.autore_post.date_joined|date:"M Y" }}</p>
                    <p class="text-muted">Post scritti: {{ post.autore_post.posts.count }}</p>
                </div>
                <div class="col-xl-10 col-9">
                    {{ post.contenuto|linebreaks }}
                </div>
            </div>
               
        </div>
        
        
    </div>
    
        
        {% endfor %}
    </div>

        <div class="text-right">
            <span class="step-links">
                {% if posts_discussione.has_previous %}
                <a href="?pagina=1">&laquo; prima</a>
                <a href="?pagina={{ posts_discussione.previous_page_number }}">precedente</a>
                {% endif %}
        
                <span class="current">
                    Pagina {{ posts_discussione.number }} di {{ posts_discussione.paginator.num_pages }}.
                </span>
        
                {% if posts_discussione.has_next %}
                <a href="?pagina={{ posts_discussione.next_page_number }}">successiva</a>
                <a href="?pagina={{ posts_discussione.paginator.num_pages }}">ultima &raquo;</a>
                {% endif %}
            </span>
        </div>



     <div class="container">
       
        {% if request.user.is_authenticated %}
        {% include "form_risposta.html" %}
        {% else %}
        <div class="alert alert-info" role="alert">
            Effettua il <a href="{% url 'login' %}?next={{ request.get_full_path }}">login</a> per rispondere
        </div>
        {% endif %}
    
    </div>




    
        

        

</div>
   

{% endblock content %}
