{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} | Registrazione{% endblock head_title %}

{% block content %}


<div class="container">
    <form class="" action="" method="POST" novalidate>
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" name="" value="Crea Account" class="btn btn-primary" style="background-color: #6b89ff; border-color: #6b89ff">
    </form>
</div>





















{% endblock content %}
